@model test_for_path_project.Models.CombinedViewModel
@{
    ViewBag.Title = ViewBag.Title ?? "Default Title";
}




@{
    // combiend all the models in a list to be able to iterate over the models and there items
    // made the list of type "IEnumerable" to be able to just add the model 
    // if we didn't make the list of type "IEnumerable" and just made of the interface type 
    // this will fours us to add all the items of the models to the list and this is a problem we 
    // do not need 
    var Uni_Names = new List<IEnumerable<ModelsInterace>>();
    Uni_Names.Add(Model.AAUlIST);
    Uni_Names.Add(Model.PHUlIST);
    Uni_Names.Add(Model.MEUlIST);

    //defined a variable to use later to choose what table to display  
    int i = 0;
}
@{
    // this foreach loops through the uieslist that contains the names of the unis we have
}
@* <h2>@ViewBag.Title</h2> *@
@foreach(var item in Model.UniesList)
{

    // all  the comments here is for testing to make sure that everything working fine

    @* <h2>@Uni_Names[2].GetType().GetGenericArguments()[0].Name</h2>
    <h2>@Uni_Names.Count()</h2>
    <h2>@Uni_Names[1]</h2> *@
   

    //display the name of the uni
    <h2>@Html.DisplayFor(modelItem => item.Name)</h2>

    //defined a variable
    //to prevent the loop from displaying the table multiple times
    var counter = 0;
    


    // this foreach loop through the uni_names list and store each time 
    // the uni in the variable unis
    @foreach (var unis in Uni_Names)
    {
        // get the first itme in uni_names and sotre it in a variable 
        // and we are not using unis here because we want the university to change
        // dynamically with each loop 
        var firstItem = Uni_Names.FirstOrDefault();


       @*  var sectItem = Uni_Names.Skip(1).FirstOrDefault();
        var thirdtItem = Uni_Names.FirstOrDefault();
        <h2>@sectItem.GetType().Name</h2> *@
        @* 
        <h2>@i</h2> *@
        @* <h2>@thirdtItem</h2> *@
        

        // this is where we use the counter variable
        if (counter < 1)
        
        {
            // increase it so it will not loop again by accident
            counter++;
            <div class="card shadow-lg rounded-3 mb-4">
            <div class="table-responsive card-body" >
                    <table class="table table-hover align-middle text-center shadow rounded-3 ">
                    <thead class="table-light">
                        <tr >
                            <th>@Html.DisplayNameFor(model => firstItem.FirstOrDefault().Id)</th>
                            <th>@Html.DisplayNameFor(model => firstItem.FirstOrDefault().التخصص)</th>
                            <th>@Html.DisplayNameFor(model => firstItem.FirstOrDefault().الكلية)</th>
                            <th>@Html.DisplayNameFor(model => firstItem.FirstOrDefault().الحقل)</th>
                            <th>@Html.DisplayNameFor(model => firstItem.FirstOrDefault().معدل_القبول)</th>
                            <th>@Html.DisplayNameFor(model => firstItem.FirstOrDefault().الساعات)</th>
                            <th>@Html.DisplayNameFor(model => firstItem.FirstOrDefault().السعر)</th>
                        </tr>
                    </thead>
                   
            
                    <tbody class="table-group-divider">




                    @{
                        // we are checking the uni_names at a specific index if it equal "AAU"
                        // to display the related table 

                        // and we are using uni_names and not uni because we need the name of the 
                        //talble and unis is just the list of the table that contains the data 
                        if (Uni_Names[i].GetType().GetGenericArguments()[0].Name == "AAU")
                        {
                            // <h2>@Uni_Names[i].GetType().GetGenericArguments()[0].Name</h2>


                            if (unis != null && Model.AAUlIST != null)
                            {
                                foreach (var major in Model.AAUlIST)
                                {
                                        <tr class="bg-white">
                                            <td>@Html.DisplayFor(modelItem => major.Id)</td>
                                            <td>@Html.DisplayFor(modelItem => major.التخصص)</td>
                                            <td>@Html.DisplayFor(modelItem => major.الكلية)</td>
                                            <td>@Html.DisplayFor(modelItem => major.الحقل)</td>
                                            <td>@Html.DisplayFor(modelItem => major.معدل_القبول) %</td>
                                            <td>@Html.DisplayFor(modelItem => major.الساعات)</td>
                                            <td>@Html.DisplayFor(modelItem => major.السعر)</td>
                                           
                                        </tr>

                                }


                            }
                            // increase the i to make sure the program reach the other tables
                            i++;
                        }
                        //same as above but this time the index change so as the talbe will change
                        else if (Uni_Names[i].GetType().GetGenericArguments()[0].Name == "PHU")
                        {
                            // <h2>@Uni_Names[i].GetType().GetGenericArguments()[0].Name</h2>


                            if (unis != null && Model.PHUlIST != null)
                            {
                                foreach (var major in Model.PHUlIST)
                                {
                                    <tr class="bg-white">
                                        <td>

                                            @Html.DisplayFor(modelItem => major.Id)
                                        </td>
                                        <td>

                                            @Html.DisplayFor(modelItem => major.التخصص)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => major.الكلية)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => major.الحقل)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => major.معدل_القبول) %
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => major.الساعات)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => major.السعر)
                                        </td>

                                    </tr>

                                }

                                i++;
                            }
                        }
                        //same as above but this time the index change so as the talbe will change
                        else if (Uni_Names[i].GetType().GetGenericArguments()[0].Name == "MEU")
                        {
                            // <h2>@Uni_Names[i].GetType().GetGenericArguments()[0].Name</h2>


                            if (unis != null && Model.MEUlIST != null)
                            {
                                foreach (var major in Model.MEUlIST)
                                {
                                    <tr class="bg-white">
                                        <td>

                                            @Html.DisplayFor(modelItem => major.Id)
                                        </td>
                                        <td>

                                            @Html.DisplayFor(modelItem => major.التخصص)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => major.الكلية)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => major.الحقل)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => major.معدل_القبول) %
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => major.الساعات)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => major.السعر)
                                        </td>

                                    </tr>

                                }

                                i++;
                            }
                        }

                    }







                    </tbody>
                </table>
            </div>
          </div>

        }
        else
        {
            break;
        }
        

    }
   

}



